<html>
    <head>
        <title>
            my home page
        </title>
        <body>
            <h1 style="background-color:DodgerBlue;color: aliceblue;">Hi ojasers we all are here to work</h1>
            <a href = "{%url 'contact'%}"><h1 style="color:rgb(223, 28, 28);">contact</h1></a>
            <h1 style="color:rgb(234, 238, 11);"><a href = "{%url 'service'%}">service</a></h1>
            <h1 style="color:rgba(6, 236, 187, 0.959);"><a href = "{%url 'product'%}">product</a></h1>
        </body>
    </head>
</html>
