{% extends 'base.html'%}

{% block content%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gods table</title>
    <style>
        table,tr,td{
            border: 1px solid red;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <h1 style="color:red;">Gods T  able</h1>
    <table style="width:1000px" >
        <tr>
            <td>SN</td>
            <td>Name</td>
            <td>Email</td>
            <td>Mobile</td>
            <td>Address</td>
        </tr>
        <tr>
            <td>1</td>
            <td>ram</td>
            <td>ram@gmail.com</td>
            <td>9999966543</td>
            <td>ayodhya</td>
        </tr>
        <tr>
            <td>2</td>
            <td>krishna</td>
            <td>krishna@gmail.com</td>
            <td>875456798</td>
            <td>dwaraka</td>
        </tr>
        <tr>
            <td>2</td>
            <td>shiva</td>
            <td>shiva@gmail.com</td>
            <td>123456789</td>
            <td>kailash</td>
        </tr>
    </table>
</body>

</html>

{% endblock%}